<%- include ("./partials/header") %>
<div id="index" class="container">
    <h1>Search by City Name:</h1>
        <form autocomplete="on" class="check" action="/results_city" method="get">
            <input id="location-input" class="form-control form-control-lg" type="text" name="search" placeholder="city">
            <input style=margin-left:5px class="btn-xs"type="submit" value="?">
        </form>
        <h2 style="margin-top: -25px;"><a href="/">Back</a></h2>
</div>
<%- include ("./partials/footer") %>