<%- include ("./partials/header") %>
<div class="container">
    <h1>Search by City Name:</h1>
        <form autocomplete="on" class="check" action="/results_city" method="get">
            <input type="text" name="search" placeholder="city">
            <input class="btn-xs"type="submit" value="?">
        </form>
        <h2 style="margin-top: -15px;"><a href="/">Back</a></h2>
</div>
<%- include ("./partials/footer") %>