<%- include ("./partials/header") %>

<div class="container">
    
        <h1 class="check">Check the Weather in: </h1>
        <form  class="check" action="/results" method="get">
            <input type="number" name="search" placeholder="zip code">
            <input class="btn-xs"type="submit" value="?">
        </form>
    
</div>

<%- include ("./partials/footer") %>