<%- include ("./partials/header") %>

<div id="index"class="container">
    <h1 id="header">What's the Weather Like?
    </h1>
    <h2 id="search" >Search by <a class="hvr-grow-shadow" href="/city">City</a> or <a href="/zip">Zip Code</a></h2>
</div>

<%- include ("./partials/footer") %>