<%- include ("./partials/header") %>

<div class="container">
    <div >
        <h3 class="check">Check the Weather in: </h3>
        <form  class="check" action="/results" method="get">
            <input type="number" name="search" placeholder="zip code">
            <input class="btn-xs"type="submit" value="?">
        </form>
    </div>
</div>

<%- include ("./partials/footer") %>