<%- include ("./partials/header") %>
<div class="container">
    <h1>Search by Zip Code (US only):</h1>
        <form  class="check" action="/results_zip" method="get">
            <input type="number" name="search" placeholder="zip code">
            <input class="btn-xs"type="submit" value="?">
        </form>
        <h2 style="margin-top: -15px;"><a href="/">Back</a></h2>
    </div>
<%- include ("./partials/footer") %>